body{
    color: white;
    background-color: #1E2329;
    font-family: 'Share Tech Mono', monospace;
}



.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}



header{
    background-image: url("navbar.gif");
    padding-bottom: 2px;
}

nav{
    background-color: #14181c;
    color: white;
}

nav a{
    color: white;
}

nav a:hover{
    color: #959595;
}

#home{
    background-image: url("background13.png");
    background-size: contain;
    background-position: center;

}

#home article{
    text-align: center;
    background-color: #1E2329;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px 15px;
    box-shadow: 0px 5px 17px black;
}



#title div{
    margin-top: 40px;
}

#title h4{
    margin-left: 50px;
}


#music .row{
    margin: unset;
}

#music .music{
    background-color: #272c36;
    margin: 15px 30px;
}

#music .iframe{
    height: 299px;
}

#music iframe{
    width: 100%;
    height: 300px;
}

#footer{
    background-image: url("navbar.gif");
    padding-top: 2px;
}


footer {
    background-color: #14181c;
    padding: 20px 0 40px;
}
footer span{
    text-align: center;
}
footer img {
    width: 70px;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}