body{
    color: white;
    background-color: #1E2329;
    font-family: 'Inria Sans', sans-serif;
}

.title{
    font-family: 'Share Tech Mono', monospace;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

/************************************
MEDIA QUERY
************************************/
@media (max-width:768px) {
    /**CLASS GLOBALES**/
    .container {
        max-width: 90%;
    }

    /**STYLE PAR SECTION**/
}
@media (max-width: 1090px) {

    #nosreseau ul {
        flex-direction: column;
    }
    #nosreseau ul li {
        width: 100%;
    }
}



header{
    background-image: url("https://tyrolium.fr/Contenu/Image/navbar.gif");
    padding-bottom: 2px;
}

nav{
    background-color: #14181c;
    color: white;
}

nav a{
    color: white;
}

nav a:hover{
    color: #959595;
}

#home{
    background-image: url("https://tyrolium.fr/Contenu/Image/background13.png");
    background-size: cover;
    background-position: center;

}

#home article{
    text-align: center;
    background-color: #1E2329;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px 15px;
    box-shadow: 0px 5px 17px black;
}

@media (max-width: 700px) {
    #home article{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 494px) {
    #home article{
        width: 100%;
    }
}

#artomyx .jumbotron{
    background: #14181C;
}

#artomyx img{
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
}

#artomyx img:hover{
    transform: translate(0, -15px);
    transform: translate3d(0, -15px, 0);
}
        
#artomyx a{
    background-color: #0000a3;
    margin-right: 4px;
    border: 1px solid #00007e;
}

#artomyx a.second{
    background-color: #E11AEE;
    border: 1px solid #75007c;
}

#artomyx a.txt{
    background: unset;
    color: white;
    margin-right: 0px;
    border: unset;
}

#artomyx strong {
    font-weight: bold;
}

#title h2 {
    margin-top: 60px;
    color:  white;
    margin-left: -30px;
}
@media (max-width: 1085px) {
    #title h2 {
        margin-left: 0px;
    }
}
#music{
    margin-top: 50px;
    margin-bottom: 100px;
}

#music .row{
    margin: unset;
}

#music .music{
    background-color: #272c36;
    margin: 15px 0px;
}

#music .iframe{
    height: 299px;
}

#music iframe.a0{
    width: 100%;
    height: 300px;
}

#music iframe.a1{
    width: 100%;
    height: 300px;
    padding-top: -55px;
}


#music a{
    background-color: #0000a3;
    border: 1px solid #00007e;
}

@media (max-width: 697px) {
    div.col-3{
        flex: unset;
        max-width: unset;
        text-align: center;
    }

    div.col-9{
        flex: unset;
        max-width: unset;
        text-align: center;
    }

    #btnDesk{
        display: none;
    }


}
@media (min-width: 698px) {
    #btnMobil{
        display: none;
    }
}




#nosreseau h2 {
    margin-top: 60px;
    color:  white;
    margin-left: -30px;
}

@media (max-width: 1085px) {
    #nosreseau h2 {
        margin-left: 0px;
    }
}

#nosreseau ul {
    padding: 50px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}
#nosreseau ul li {
    background: linear-gradient(#0034ff, #01256a);
    margin: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

#nosreseau ul li#discord {
    background: linear-gradient(#f11fff, #85008e);
}
#nosreseau ul li h3{
    font-weight: bold;
    padding: 20px;
}

#nosreseau img.imgRe{
    width: 50px;
    height: 50px;
}

#nosreseau a{
    color: white;
}
#nosreseau a:hover{
    color: white;
}




#footer{
    background-image: url("https://tyrolium.fr/Contenu/Image/navbar.gif");
    padding-top: 2px;
}


footer {
    background-color: #14181c;
    padding: 20px 0 40px;
}
footer span{
    text-align: center;
}
footer img {
    width: 70px;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}


footer button.btn{
    background-color: #0000a3;
}






